<h1>検索結果</h1>
<p><%= session[:result].count %> 件見つかりました</p>
<% session[:result].each do |r| %>
<p>----------------------------------------</p>
<p><%= Product.find(r).pid %></p>
<% if Product.find(r).img!=nil %>
<%= image_tag Product.find(r).img,:size =>'160x160' %>
<% end %>
<%= button_to '商品ページへ','/serch_product/product_pages',{method: :get,params: {product_id: r}} %>
<% end %>